* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

.gray {
    color: #918E9B;
}

.bold {
    font-weight: bold;
}

nav {
	display: flex;
	height: 70px;
	padding: 20px 36px;
	box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.1);
}

.nav--logo {
	max-width: 100px;
}
section {
	padding: 20px;
}

.hero {
	display: flex;
	flex-direction: column;
}

.hero--photo {
	align-self: center;
	max-width: 400px;
}

.hero--text h1 {
	margin-bottom: 16px;
	font-size: 36px;
}

.hero--text p {
	font-size: 16px;
	color: #222222;
}

.card {
	padding: 20px;
	width: 200px;
}

.card--img {
	border-radius: 9px;
    width: 100%;
}

.card--stats {
    display: flex;
    align-items: center;
    margin-top: 9px;
    height: 14px;
    font-size: 14px;
}
.card--star {
	height: 14px;
}